.card {
    position: relative;
    border: 1px solid #3f3232;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    margin: 10px;
    max-height: 400px;
    min-width: 150px;
}

.image {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.content {
    padding: 16px;
}

.title {
    margin: 0 0 8px;
}

.description {
    color: #666;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.deleteButton,
.likeButton {
    cursor: pointer;
}
