.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.backButton {
    padding: 5px 10px;
    justify-self: flex-end;
    height: 35px;
    width: 100px;
}

.title {
    margin-bottom: 10px;
}

.content {
    display: flex;
    width: 100%;
}

.imgColumn {
    flex: 1;
    margin-right: 20px;
    justify-content: space-between;
}

.cardImage {
    width: 300px;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

.infoColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagsList {
    list-style-type: none;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.tagsList li {
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    background: #e0f7fa;
    border-radius: 16px;
    font-size: 14px;
    align-self: center;
}
